@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Kumbh Sans';
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}